@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Rubik', sans-serif;
}

button {
  border: none;

  cursor: pointer;
}

#wrapper {
  width: 100%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "display display display display"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "zero zero . .";
}

#display {
  grid-area: display;
  background: #1c1f24;

  color: white;

  text-align: right;

  display: flex;
  flex-flow: column nowrap;
}

#displayTop {
  flex: 30%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 3rem;
  padding: 0.75rem;

  opacity: 0.5;
}

#displayBot {
  flex: 70%;

  padding: 0.75rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #282c34;

  font-size: 3rem;
}

.zero {
  grid-area: zero;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: #b5b5b5;
}

.operationTile {
  background: #bf902a;
}

.functionTile {
  background: #2a8dbf;
}

.numberTile:hover{
  background-color: #ffffff;
  transition-duration: 0.150s;
}

.operationTile:hover {
  background-color: #ffb000;
  transition-duration: 0.150s;
}

.functionTile:hover {
  background: #00a9ff;
  transition-duration: 0.150s;

} 

#github-logo {
  height: 24px;
  width: auto;

  transition-duration: 0.250;
}
